<nav class="navbar navbar-dark bg-dark">
    <div class="container-fluid">
        <div class="navtext">
            <h6 class="navtext">I'm thrilled to announce this is my first Rails webpage & my last project of Season 02 Fullstack.</h6>
        </div>
    </div>
</nav>
