<h1>work on about page</h1>


<h5>
* ideally this page is meant to be about "the website" but i'm gonna use it to tell you a few thing about "my website ;)"
</h5>
<br><br>
<h5>
note
</h5>

<h5>
 * the basccamp icon takes you back to the root page(home) anytime it is clicked
</h5>

<h5>
* the actions drop dropdown main only shows this page when you arnt sighed in, (lmao spoiler aleart)it brings out more pages to explore when you are signed in 
</h5>


