


<div class = "separtionDiv"></div>

<div class="container-sm">
  <div class="row align-items-center">

    <div class="col-2">

    </div>

    <div class="col">

        <h1>About page</h1>
        <br><br>
        <h5>
        note
        </h5>

        <h5>
        * The basccamp icon takes you back to the home page anytime it is clicked
        </h5>
        <br><br>
        <h5>
        * sigh up or sign in to view more pages in the action dropdown buttom
        </h5>    
    </div>

    <div class="col-2">

    </div>

  </div>
</div>
 

