<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <div class = "separtionDiv"></div>

    <div class="container-sm">
        <div class="row align-items-center">
            <div class="col">
                <%= image_tag "BasecampLogo.PNG" %>
            </div>

            <div class="col">
                <div class = "welcomediv">
                    <h1>Welcome!</h1>
                </div>

            </div>
        </div>
    </div>

    <div class = "separtionDiv"></div>

    <div class="container-sm">
        <div class="row align-items-center">
            <div class="col">
            <%= link_to image_tag("BCPerson1.PNG", class: "img1") %>
            </div>

            <div class="col">
            <%= link_to image_tag("BCPerson2.PNG", class: "img2") %>
            </div>
        </div>
    </div>


    <div class="centercontent">
        <h1 class = "footertext">Try now!</h1>
        <h1 class = "footertext">&</h1>
        <div class = "footerdiv">
            <h3 class = "footertext">progress on more projects than you ever thought possible.</h3>
      </div>
    </div>
</body>
</html>