<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <div class = "separtionDiv"></div>

   <div class="container-sm">
        <div class="row align-items-center">

            <div class="col">
                <h1>
                    TBD
                </h1>
            </div>

            <div class="col">

            <div class = "separtionDiv"></div><div class = "separtionDiv"></div><div class = "separtionDiv"></div>
                <h1>Sign In</h1>
            <div class = "separtionDiv"></div>
                <h6>Please fill in your details to log on!</h6>

                <form action="" method="">
          
          
                    <div>
                      <input type="text" id="" name="" class="form-control" placeholder="username" required>
                    </div><br>
          
                    <div>
                      <input type="password" id="" name="" class="form-control" maxlength="10" placeholder="password" required>
                    </div><br>
          


                    <div class="centercontent">
                        <div class="d-grid gap-2 col-6 mx-auto">
                        <button class="btn btn-primary" type="submit">Sign Up</button>
                        </div>                    
                    </div><br>

                    <div>
                        <caption>Don't have an account? <%= link_to 'Sign Up', home_signup_path, class:"" %></caption>
                    </div>
                    <div class = "separtionDiv"></div><div class = "separtionDiv"></div>
                  </form>
            </div>

            <div class="col">
                <h1>
                    TBD
                </h1>
            </div>
        </div>
    </div>
 
</body>
</html>