
<div  id="<%= dom_id project %>">

  <div id = "projectdiv" >
    <span class = "text">
      <p>
        <strong >Project title:</strong>

        "<%= project.project_title%>"

      </p>
        <hr>
      <p>
        <strong >Project description:</strong>
        <%= project.project_description %>
      </p>
        <hr>
      <p>
        <strong >User ID:</strong>
        <%= project.user_id%>
      </p>
    </span>
  </div>

</div>
