.text{
    color: rgb(0, 0, 0);
    font-family: monospace;
    font-weight: 900;
}

.separtionDiv{
    height: 25px;
}

.welcomediv{
    float: right;
}

.img1{
    float: right;
}

.img2{
    float: left;
}

.centercontent{
    /* background-color: cadetblue; */
    text-align: center;
}

.footertext{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: rgb(0, 0, 0);
    text-shadow: 0 0 6px #07a0dd;
}

.footerdiv{
    /* border-radius: 25px;
    border: 1px solid blue; */
    text-align: center;
}


#mynavitem{
    padding-left: 40%;
    
}

#projectdiv{

    border-style: double;

    border-color: #07a0dd;
    
    border-width: 5px;

    width: 35%;

    background: url(/assets/projectBG.jpg);
    /* background-color: black; */
}